---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Vitrine from '../components/Vitrine.astro';
import Frentes from '../components/Frentes.astro';
import Destaques from '../components/Destaques.astro';
import Contato from '../components/Contato.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <Vitrine />
    <Frentes />
    <Destaques />
    <Contato />
  </main>
  <Footer />
</Base>
